node_modules/
**/.env

# TS build files
/dist

# Hardhat files
/cache
/artifacts

# Truffle files
/build

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json


/flattened
.out*

.old