name: "Dockerize Price-Feeds bot"

on:
  workflow_dispatch:
    inputs:
      container:
        description: "The bot container to publish:"
        required: true
        type: choice
        options:
          - notarizer
          - reporter
      version:
        description: "The version tag to publish:"
        required: true

jobs:
  build:
    env:
      REGISTRY: docker.io
      IMAGE_NAME: witnet/price-feeds-${{ inputs.container }}

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: refs/tags/${{ inputs.version }}

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: /docker/${{ inputs.container }}/Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:$${{ inputs.version }}
