name: "Publish witnet/price-feeds-reporter container"

on:
  push:
    release:
      types: [created]
    tags:
      - "reporter/*"

jobs:
  build:
    env:
      REGISTRY: docker.io
      IMAGE_NAME: witnet/price-feeds-reporter

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        usses: actions/checkout@v4

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./docker/reporter
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:lastest
            ${{ env.IMAGE_NAME }}:$${{ github.ref_name }}
